*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face{
	font-family: roboto;
	src:url(/font/roboto/Roboto-Regular.ttf);
}



/*
* Mixins
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($element) {
  -webkit-box-shadow: $element;
     -moz-box-shadow: $element;
      -ms-box-shadow: $element;
          box-shadow: $element;
}