@font-face {
  font-family: fontTrack;
  src: url(../font/Track.otf);
}
@font-face {
  font-family: fontWaffle;
  src: url(../font/Waffle_Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: fontWaffle;
}

#header-wrap {
  padding-top: 20px;
}
#header-wrap #h-box {
  text-align: center;
}
#header-wrap #h-box #h-box-logo {
  border: 1px solid #bdc3c7;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
}

#content-menu-left {
  background: #ecf0f1;
}
#content-menu-left .list-parent {
  /*display: none;*/
}
#content-menu-left li {
  list-style: none;
}
#content-menu-left li a {
  font-size: 150%;
  text-decoration: none;
  color: #2980b9;
}
#content-menu-left li a:hover {
  color: #3498db;
}

@media all and (min-width: 920px) {
  #h-box {
    width: 920px;
    margin: 0 auto;
  }
  #h-box #h-box-logo {
    height: 100px;
    width: 100px;
  }
  #h-box h2 {
    font-size: 300%;
  }
  #h-box span {
    font-size: 200%;
  }

  #content-menu {
    width: 920px;
    margin: 0 auto;
  }
  #content-menu #content-menu-left {
    width: 20%;
    display: inline-block;
  }
  #content-menu #content-menu-left .list-main {
    border-left: 4px solid #2ecc71;
    padding: 20px 0;
  }
  #content-menu #content-menu-left .list-h a, #content-menu #content-menu-left .list-p a {
    display: block;
    padding: 5px;
  }
  #content-menu #content-menu-left .list-h a:hover, #content-menu #content-menu-left .list-p a:hover {
    background: #2ecc71;
    color: #FFFFFF;
  }
  #content-menu #content-menu-center {
    width: 80%;
    display: inline-block;
  }
}
@media all and (max-width: 920px) {
  #h-box {
    width: 100%;
  }
  #h-box #h-box-logo {
    height: 80px;
    width: 80px;
  }
  #h-box h2, #h-box span {
    font-size: 200%;
  }

  #content-menu {
    width: 100%;
  }

  .list-main .list-h, .list-main .list-p {
    border-bottom: 3px solid #2ecc71;
  }
  .list-main .list-h a, .list-main .list-p a {
    padding: 5px 5px 2px 20px;
    display: block;
  }
  .list-main .list-p a {
    padding-left: 40px;
  }
}
.list-p {
  padding-left: 10px;
}
