$nav-color-gb : #27ae60;
$nav-icon-nav : #2ecc71;
$nav-bg-link : #2ecc71;

.nav{
	&::before{
		content: "";
		background : $nav-color-gb;
		height: 50px;
		width: 100%;
		display: block;
	}
	.nav-toggle{
		position: absolute;
		top: 10px;
		right: 10px;
		height: 30px;
		padding: 4px;
		border: 1px solid $nav-icon-nav;
		background: $nav-color-gb;
		cursor: pointer;
		border-radius: 5px;
	}
	.icon-nav{
		background: $nav-icon-nav;
		height: 3px;
		width: 35px;
		display: block;
		margin-bottom: 6px;
	}
	.nav-menu{
		display: none;
		.nav-list-h, .nav-list-p{
			a{
				display: block;
				padding: 10px;
				padding-left: 10%;
				font-size: 100%;
				text-decoration: none;
				background: $nav-bg-link;
				border-bottom: 1px solid $nav-color-gb;
				color: #FFFFFF ;
				&:hover{
					background : $nav-color-gb;
				}
			}
		}
		.nav-list-p{
			a{
				padding-left: 15%;
			}
		}
	}
}


