$nav-color-gb : #ABB7B7;
$nav-icon-nav : #6C7A89;

.nav{
	&::before{
		content: "";
		background : $nav-color-gb;
		height: 40px;
		width: 100%;
		display: block;
	}
	.nav-toggle{
		position: absolute;
		top: 5px;
		right: 10px;
		height: 30px;
		padding-top: 4px;
		border: 1px solid $nav-color-gb;
		background: $nav-color-gb;
		cursor: pointer;
	}
	.icon-nav{
		background: $nav-icon-nav;
		height: 2px;
		width: 35px;
		display: block;
		margin-bottom: 6px;
	}
	.nav-menu{
		display: none;
	}
}


