* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: roboto;
  src: url(/font/roboto/Roboto-Regular.ttf);
}
/*
* Mixins
*/
body {
  font-family: roboto;
  margin: 0;
  padding: 0;
  background: #f1f8e9;
}

#wrapper {
  background: #FFF;
  width: 480px;
  /*height: 200px;*/
  /*margin: 0 auto;*/
  border: 1px solid #9ccc65;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -240px;
  -webkit-box-shadow: 0 0 5px 0px #689f38;
  -moz-box-shadow: 0 0 5px 0px #689f38;
  -ms-box-shadow: 0 0 5px 0px #689f38;
  box-shadow: 0 0 5px 0px #689f38;
}
#wrapper #box-login {
  margin-top: 100px;
  border: 1px solid black;
}
#wrapper h1 {
  text-align: center;
}
#wrapper button[name="submit"] {
  width: 100%;
  border: none;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  /*border-radius: 0 0 5px 5px;*/
  cursor: pointer;
  height: 38px;
  margin-top: 20px;
  background-color: #8bc34a;
  font-weight: bold;
  color: #fff;
}
#wrapper #show-state {
  text-align: center;
}
#wrapper #show-state .error {
  color: #f44336;
}
#wrapper #show-state .success {
  color: #8bc34a;
}

.input-group {
  padding: 0 20px;
  position: relative;
  margin-bottom: 20px;
}
.input-group input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 36px;
  font-size: 20px;
  outline: none;
}
.input-group input:-webkit-autofill {
  color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.input-group .animate {
  position: absolute;
  left: 20px;
  top: 6px;
  color: #E0E0E0;
  pointer-events: none;
}
.input-group .animate.enter {
  -webkit-animation: animateEnter 1s;
  animation: animateEnter 1s;
  top: -10px;
  font-size: 12px;
  color: #8bc34a;
}
.input-group .animate.leave {
  -webkit-animation: animateLeave 1s;
  animation: animateLeave 1s;
  top: 6px;
  font-size: initial;
  color: #e0e0e0;
}
.input-group:first-child {
  margin-bottom: 20px;
}
.input-group .bottombar {
  position: relative;
  top: -3px;
  width: 0%;
  display: block;
  height: 3px;
  background: red;
  margin: 0 auto;
}
.input-group .bglight {
  width: 0%;
  display: block;
  height: 25px;
  background: #8bc34a;
  position: absolute;
  top: 7px;
  pointer-events: none;
  opacity: 0.5;
}
.input-group .bglight.enter {
  -webkit-animation: bglightEnter 1s;
  animation: bglightEnter 1s;
  width: 30%;
}
.input-group .bglight.leave {
  -webkit-animation: bglightLeave 1s;
  animation: bglightLeave 1s;
  width: 0%;
}
.input-group .bottombar.enter {
  -webkit-animation: bottomEnter 1s;
  animation: bottomEnter 1s;
  width: 100%;
}
.input-group .bottombar.leave {
  -webkit-animation: bottomLeave 1s;
  animation: bottomLeave 1s;
  width: 0%;
}

@-webkit-keyframes animateEnter {
  from {
    font-size: initial;
    top: 6px;
    color: #e0e0e0;
  }

  to {
    font-size: 12px;
    top: -10px;
    color: #8bc34a;
  }
}
@keyframes animateEnter {
  from {
    font-size: initial;
    top: 6px;
    color: #e0e0e0;
  }

  to {
    font-size: 12px;
    top: -10px;
    color: #8bc34a;
  }
}
@-webkit-keyframes animateLeave {
  from {
    font-size: 12px;
    top: -10px;
    color: #8bc34a;
  }

  to {
    font-size: initial;
    top: 6px;
    color: #e0e0e0;
  }
}
@keyframes animateLeave {
  from {
    font-size: 12px;
    top: -10px;
    color: #8bc34a;
  }

  to {
    font-size: initial;
    top: 6px;
    color: #e0e0e0;
  }
}
@-webkit-keyframes bottomEnter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
@keyframes bottomEnter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
@-webkit-keyframes bottomLeave {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
@keyframes bottomLeave {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
@-webkit-keyframes bglightEnter {
  from {
    width: 0%;
  }

  to {
    width: 30%;
  }
}
@keyframes bglightEnter {
  from {
    width: 0%;
  }

  to {
    width: 30%;
  }
}
@-webkit-keyframes bglightLeave {
  from {
    width: 30%;
  }

  to {
    width: 0%;
  }
}
@keyframes bglightLeave {
  from {
    width: 30%;
  }

  to {
    width: 0%;
  }
}
