* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: roboto;
  src: url(/font/roboto/Roboto-Regular.ttf);
}
/*
* Mixins
*/
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

#wrap-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  border-right: 1px solid #e0e0e0;
  /*@include box-shadow(0px 0px 1px 0px #bdbdbd);*/
  overflow: hidden;
}
#wrap-left #button-small {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  background-color: blue;
  display: none;
  position: absolute;
  top: 5px;
  left: 245px;
}
#wrap-left #logo {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
#wrap-left #nav {
  height: 100%;
  width: 100%;
  overflow: auto;
}
#wrap-left #nav > div {
  padding: 12px;
}

.child-nav {
  /* background-color: pink; */
  /*display: none;*/
  /* &.leave{
  	overflow-y: hidden;
  	max-height: 500px; approximate max height
  	max-height: 0;
  	transition-property: all;
  	transition-duration: .5s;
  	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  	-webkit-animation: navLinkLeave 1s;
  			animation: navLinkLeave 1s;
  			height: 0;
  			overflow: hidden;
  } */
}
.child-nav a {
  font-style: 80%;
  color: #bdbdbd !important;
}
.child-nav.enter, .child-nav.leave {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
.child-nav.enter {
  max-height: 200px;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.group-nav {
  padding: 0;
}
.group-nav li {
  list-style: none;
}
.group-nav li a {
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 5px 0;
  font-weight: bold;
  color: #000;
}

#wrap-right {
  float: right;
  padding-left: 240px;
  width: 100%;
}
#wrap-right #right-header {
  /*background-color: #cddc39;*/
  height: 256px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
#wrap-right #right-header.scroll-active {
  height: 100px;
  position: fixed;
  top: 0;
}
#wrap-right #right-content {
  background-color: #eeeeee;
}
#wrap-right #right-content.scroll-active {
  margin-top: 253px;
}

@media all and (max-width: 960px) {
  #wrap-left {
    -webkit-animation: navLeave 1s;
    animation: navLeave 1s;
    left: -240px;
  }
  #wrap-left #button-small {
    display: block;
  }

  #wrap-right {
    padding-left: 0px;
  }
}
@-webkit-keyframes navLeave {
  from {
    left: 0;
  }

  to {
    left: -240px;
  }
}
@keyframes navLeave {
  from {
    left: 0;
  }

  to {
    left: -240px;
  }
}
@-webkit-keyframes navLinkLeave {
  from {
    height: 100%;
  }

  to {
    height: 0%;
  }
}
@keyframes navLinkLeave {
  from {
    height: 100%;
  }

  to {
    height: 0%;
  }
}
