
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+) - [PT,L]


RewriteRule ^(.*) travals.php

Options -Indexes

php_value auto_prepend_file include.php


ErrorDocument 403 index.php
ErrorDocument 404 /errormessages/404.php